<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Video Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="body-style">

    <header class="header-style">
        Split Video Generator
    </header>

    <main class="main-style">
        <label for="video1" class="label-style">Creators videos:</label>
        <input type="file" id="video1" name="video1" accept=".mp4, .mkv, .mov" multiple required
            class="input-style">

        <label for="video2" class="label-style">Sponsor video:</label>
        <input type="file" id="video2" name="video2" accept=".mp4, .mkv, .mov" required
            class="input-style">

        <button id="uploadButton" class="button-style">
            Generate Split Videos
        </button>

        <div id="dynamicButtonsContainer"></div>
        <div id="processedFilesContainer"></div>
        <div id="progressContainer"></div>
    </main>

    <footer class="footer-style"></footer>

    <script src="/static/script.js"></script>
</body>

</html>